#Options -Indexes
AddDefaultCharset UTF-8
#Options FollowSymlinks
RewriteEngine on


#RewriteCond %{REQUEST_URI} ^/admin/$

RewriteRule ^uploads(.*)$ /web/uploads/$1 [L]
RewriteRule ^favicon\.ico$ /web/favicon\.ico [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} ^.*$




RewriteCond %{REQUEST_URI} !^/(assets|install|uploads|api|info|robots\.txt|mails|sp-push-manifest\.json|sp-push-worker-fb\.js).*$

#RewriteRule ^exchange1c(.*)$ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
RewriteRule ^.*$ index.php