div.errorMessage{
    color:#a94442;
    font-size:12px;
    margin-top: 5px;
}
label.required{

}
label.required.error{

}
label.required > span.required{
    color:#a94442;
}
div.errorSummary > p{

}
div.errorSummary > ul{
    padding-left: 15px;
}
div.errorSummary > ul > li{

}
img.captcha{

}
input.error,
textarea.error{
    border-color: #a94442;
}