
.ui-dialog .ui-dialog-titlebar-close {
    background-position: -80px -128px;
    background-image: url("../images/ui/ui-icons.png");
    width: 20px;
    height: 20px;
    border:0;
    background-color: transparent;
}

.ui-widget-content{
    background: #fff;
    border:0;
}
.ui-tabs .ui-tabs-nav{
    padding: 0;
}
.ui-widget-header{
    background: none;
    border:0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-weight: normal;
}
.ui-widget-header{
    
}
.ui-widget{
    font-size: inherit;
    font-family: inherit;
}
.ui-tabs .ui-tabs-panel{
    padding: 15px 0;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
    background: none;
}
.ui-tabs .ui-state-active,
.ui-tabs .ui-widget-content .ui-state-active,
.ui-tabs .ui-widget-header .ui-state-active{
    border-bottom: 1px solid #fff;
}

.ui-dialog{
    padding: 0;
}
.ui-dialog .ui-dialog-buttonpane{
    padding: 0;
}
.ui-dialog .ui-dialog-content{
    padding: 15px;
}
.ui-dialog .ui-dialog-titlebar{
    padding: 10px 15px;
}