@import "base";
@import "mixins";

/*
.form-group-auto .form-control{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    position: relative;
    z-index: -2;
}
.form-group-auto label{
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.form-group-auto{
    position: relative;
    z-index: 1;
}

.form-group-auto label {
    left: 10px;
    position: relative;
    top: 32px;
    z-index: -1;
}
.form-group-auto.focused label {
    top: 0px;
    left: 0;
}*/
body {
  font-family: $font-family;
  margin-bottom: 250px;
  background: #fff;
  color: #292d32;
  padding-top: 90px;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-collapse {
  border-top-color: #333;
  margin-top: 15px;
}

.navbar-toggle {
  border-color: #cdcdcd;
  margin-right: 0;
}

blockquote {
  font-size: 13px;
  color: #999;
}

.container-breadcrumb {
  border-bottom: 1px solid #cdcdcd;
  background: #f2f2f2;
  -webkit-box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.10);
  box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.10);
}

.container-breadcrumb h1,
.container-breadcrumb h2 {
  color: #868686;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.breadcrumb {
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  margin-left: 10px;
  position: relative;
  font-size: 13px;
  &:before{
    font-family: $font-family-icon;
    content: "\f026";
    position: absolute;
    left: -5px;
    top: 13px;
    color: #e12f6e;
    font-size: 13px;
  }
}



p {
  line-height: 22px;
  font-weight: 300;
}

.container-fluid.bg-white {

  padding-bottom: 10px;
  padding-top: 10px;
}

.bg-white {
  background: #fff;
}

h3 {
  font-weight: normal;
}

.made-in-ukraine {
  background: url(../images/madeinukraine.gif) no-repeat 0 center;
  height: 65px;
  width: 100px;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 15px;
}

.block-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.block-demo .block-demo-hint {
  color: #929292;
  font-size: 18px;
  margin: 40px 0;
  font-weight: 300;
}

.text-italic {
  font-style: italic;
}

.navbar {

  margin-bottom: 0;
  border-bottom: 1px solid #cdcdcd;
  min-height: 90px;
  .btn {
    float: right;
  }
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: transparent;
}

.navbar .navbar-nav {
  > li {
    .menu-label {
      position: absolute;
      text-transform: uppercase;
      top: -14px;
      display: inline;
      padding: 1px 7px;
      color: #fff;
      font-size: 11px;
      right: 23px;
      &:after {
        border-width: 7.5px 8.5px 0 7.5px;
        right: 18px;
        top: 90%;
        border-style: solid;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        @include transition-2(all 0.3s ease 0s);
        width: 0;
        z-index: 100;
      }
      &:before {
        right: 18px;
        top: 90%;
      }
    }
    a {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      color: #585858;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      padding: 5px 0;
      text-transform: uppercase;
      @include transition-2(all 0.2s linear 0s);
      &:hover,
      &:focus {
        background: none;
        color: #348fd2;
      }
    }
    > .dropdown-menu {
      border-radius: 0;
    }
  }
  > li.active {
    background: #1d6ca1;
    background: none;
    color: #348fd2;
    a {
      color: #fff;
    }
  }
}

.navbar-nav > li .menu-label.new-menu {
  background: #f1c40f;
}

.navbar-nav > li .menu-label.new-menu:after {
  border-color: #f1c40f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.navbar-nav > li .menu-label.new-menu:before {
  border-color: #f1c40f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.navbar-nav > li .menu-label.hot-menu {
  background: #ff7878;
}

.navbar-nav > li .menu-label.hot-menu:after {
  border-color: #ff7878 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.navbar-nav > li .menu-label.hot-menu:before {
  border-color: #ff7878 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.navbar-right .btn {
  margin-top: 8px;
  margin-right: -15px;
}

.navbar-brand {
  background: url(../images/logo-new.png) no-repeat center left;
  height: 47px;
  width: 253px;
  padding: 0;
  position: relative;
  text-indent: -99999px;
  margin-top: 5px;
  margin-right: 15px;
  span {
    background: url(../images/logo-new-24.png);
    height: 47px;
    width: 67px;
    top: 0;
    display: block;
    right: 0;
    position: absolute;
  }
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;

}

.bg-primary {
  background-color: $color-primary;
}

.box-shadow-none {
  @include box-shadow-none();
}

.btn {
  @extend .box-shadow-none;
  .btn-block:active,
  .btn-lg:active {
    -webkit-box-shadow: inset 0 3px 3px -5px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 3px 3px -5px rgba(0, 0, 0, .3);
    box-shadow: inset 0 3px 3px -5px rgba(0, 0, 0, .3);
  }
}

.phone {
  font-size: 23px;
  a {
    font-size: 23px;

  }
}

.header-contacts {
  color: #292d32;
  a{
    color: #292d32;
    &:hover {
      text-decoration: none;
    }
  }
  div {
    margin: 5px 0;
  }
  span {
    color: #585858;
    font-size: 13px;
    margin-left: 10px;
  }
}

.header-contacts
.header-contacts .icon {
  color: #e12f6e;
  font-size: 14px;
}

@each $name, $color in $colors {
  .btn-#{$name} {
    background-color: $color;
    &:hover,
    &:focus,
    &:active {
      @extend .box-shadow-none;
    }
  }
  .btn-outline-#{$name} {
    border-color: $color;
    &:hover,
    &:focus,
    &:active {
      @extend .box-shadow-none;
    }
  }
  .btn-#{$name}:not(:disabled):not(.disabled):active:focus,
  .show > .btn-#{$name}.dropdown-toggle:focus {
    @extend .box-shadow-none;
  }
  .btn-#{$name}:not(:disabled):not(.disabled):active,
  .btn-#{$name}:not(:disabled):not(.disabled).active,
  .show > .btn-#{$name}.dropdown-toggle{
    @extend .box-shadow-none;
  }
}

.h3 {
  border-bottom: 2px solid #999;
  padding-bottom: 8px;
  color: #777;
  margin-bottom: 15px;
}

.btn-small-nav:last-child {
  margin-right: 15px;
}

.btn-small-nav,
.navbar-toggle {
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 8px 15px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 5px 15px;
  }
}

@media (max-width: 767px) {

  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;

  }
}

.alert {
  position: relative;
  padding-left: 3rem;
  border-width: 5px;
  border-top:0;
  border-bottom: 0;
  border-right: 0;

  &:before {
    font-family: $font-family-icon;
    position: absolute;
    left: 1rem;
    top: .50rem;
    font-size: 1.5em;
  }
}

@each $name, $color, $icon in $alerts {
  .alert-#{$name} {
    background-color: lighten($color, 50%);
   // background-color: transparent;

    border-color: $color;
    color: $color;
    &:before {
      content: unquote("\"#{$icon}\"");
    }
  }
}

.progress {
  border: 1px solid rgba(0, 0, 0, .075);

  @each $name, $color in $colors {
    .progress-bar.bg-#{$name} {
      @include gradient-x($color, darken($color, 10%));
    }
  }

}

@each $name, $color in $colors {
  .card.bg-#{$name} > .card-header {
    background-color: $color;
  }
}

.form-control {
  &:-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &:focus {
    @extend .box-shadow-none;
  }
}

.card,
.card-header:first-child,
.form-control,
.progress,
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom,
.alert,
.btn,
.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
  @include border-radius();
}

@each $name, $color in (success:$color-success, error:$color-danger) {
  .has-#{$name} {
    .form-control {
      border-color: lighten($color, 20%);
      &:focus {
        border-color: lighten($color, 20%);
      }
    }
    .input-group-append .input-group-text,
    .input-group-prepend .input-group-text {
      border-color: lighten($color, 20%);
      background-color: lighten($color, 30%);
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.nav-tabs {
  padding-left: 0;
  > li > a {
    border-radius: 0;
    &:hover {
      background: transparent;
      color: #e12f6e;
      border-color: transparent;
    }
  }
}

.tab-content > .tab-pane {
  padding-top: 15px;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.errorSummary ul {
  margin: 0;
  padding-left: 1.25rem;
  font-size: 13px;
}

.errorMessage {
  color: lighten($color-danger, 10%);
  font-size: .8em;
  margin-top: .25rem;
  &:before {
    content: '\f053';
    font-family: $font-family-icon;
    margin-right: .25rem;
  }
}

span.required {
  color: lighten($color-danger, 10%);
}

/*payments*/
.payment {
  background-image: url(../images/payments.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  display: block;
  margin: 3px;
}

.payment-pb24 {
  background-position: 0 -224px;
}

.payment-bank {
  background-position: 0 -32px;
}

.payment-webmoney {
  background-position: 0 -416px;
}

.footer {
  background: #282828;
  border-top: 5px solid #e12f6e;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  color: #cfcfcf;
  padding: 15px 0;
  .list-group {
    @extend .box-shadow-none;
    .list-group-item {
      background: none;
      border: 0;
      border-radius: 0;
    }
  }
}

.page-error h2 {
  text-align: center;
  font-size: 20em;
  font-weight: normal;
  color: #e12f6e;
  margin: 0;
}

.client-image {
  width: 150px;
  height: 150px;
  margin: 0 auto 15px auto;
  .thumbnail,
  .img-thumbnail {
    @extend .box-shadow-none;
    border: 0;
    padding: 5px;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

.bg-white {
  background-color: #fff;
}

.dropdown-menu {

  &:before,
  &:after {
    display: inline-block;
    position: absolute;
    left: 45%;
    content: '';
  }

  &:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
  &:after {
    top: -6px;
    left: 45%;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;

  }
}

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #fff;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100% !important;
  height: auto;
  display: block;
}

.carousel .item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}